.about-title{
    font-weight: 500;
    font-size: 30px;
}

.dwnld{
    text-decoration: none;
    background-color: cornflowerblue;
    color: #fff;
    font-weight: 500;
    padding: 7px;
    border-radius: 5px;
}

.social-links{
    width: fit-content !important;
    padding: 0 5px !important;
    color: #fff !important;
    background-color: cornflowerblue;
    box-shadow: 0px 4px 20px 0px rgba(149, 149, 149, 0.15);
    border: 1px solid cornflowerblue;
    border-radius: 5px;
}

.social-links i{
    color: #fff !important;
}

.my-photo-con{
    height: 350px;
    width: 100%;
}

.my-photo-con img{
    object-fit: fill;
    height: 350px;
    width: 100%;
}